<div>
    <div>{{course.title}}</div>
    <div>Author: {{course.author.firstName}} {{course.author.lastName}}</div>
    <div>Price ${{course.price}}</div>
    <button class="btn btn-primary" (click)="clickMe()">Mark</button>
</div>