<div>
    <div>{{course.title}}</div>
    <div *ngIf="course.author">
        Author: {{course.author?.firstName}} {{course.author?.lastName}}
    </div>
    <div [ngSwitch]="course.level">
        Level: 
        <span *ngSwitchCase="DifLevel.Begginer">Begginer :)</span>
        <span *ngSwitchCase="DifLevel.Advanced">Advanced :/</span>
        <span *ngSwitchCase="DifLevel.Expert">Expert :(</span>
    </div>
    <div>Price ${{course.price}}</div>
    <button class="btn btn-primary" (click)="clickMe()">Mark</button>
</div>

