<div>
    <h2>Course details</h2>
    <div>{{course.title}}</div>
    <div *ngIf="course.author">
        Author: {{course.author?.firstName}} {{course.author?.lastName}}
    </div>
    <div [ngClass]="{levelBegginer: course.level === DifLevel.Begginer,
                     levelAdvenced: course.level === DifLevel.Advanced,
                     levelExpert: course.level === DifLevel.Expert}"
         [ngSwitch]="course.level">
        Level: 
        <span *ngSwitchCase="DifLevel.Begginer">Begginer :)</span>
        <span *ngSwitchCase="DifLevel.Advanced">Advanced :/</span>
        <span *ngSwitchCase="DifLevel.Expert">Expert :(</span>
    </div>
    <div>Price ${{course.price}}</div>
</div>

